<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Posts</h1>
</div>

<div id="posts" class="min-w-full">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Summary</th>
        <th>Body</th>
        <% if current_account.admin? %>
        <th>Author</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.summary %></td>
        <td><%= truncate(post.body, :length => 80) %></td>
        <% if current_account.admin? %>
        <th><%= post.account.first_name %></th>
        <% end %>
        <td>
          <%= link_to 'Edit this post', edit_post_path(post),
          class: "" %>
        </td>
        <td>
          <%= link_to "Destroy", post, data: { turbo_method: :delete,
          turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New post', new_post_path, class: "btn btn-primary" %>
</div>
</div>